<h1>Prode - Cargá tus pronósticos</h1>

<form>
  <div *ngFor="let partido of partidos; let i = index" class="partido">
    <div class="opciones">
      <button
        type="button"
        [class.selected]="pronosticos[i]?.resultado === 1"
        (click)="seleccionarResultado(i, 1)">
        {{ partido.equipoLocal }}
      </button>
    
      <!-- <button
        type="button"
        [class.selected]="pronosticos[i]?.resultado === 2"
        (click)="seleccionarResultado(i, 2)">
        Empate
      </button> -->
    
      <button
        type="button"
        [class.selected]="pronosticos[i]?.resultado === 3"
        (click)="seleccionarResultado(i, 3)">
        {{ partido.equipoVisitante }}
      </button>
    </div>    
  </div>
</form>

<button class="guardar" 
        (click)="guardarPronosticos()" 
        [disabled]="!todosPronosticados()">
  Guardar
</button>